<!-- this is insta page taking data from data base(data.json) -->

<!-- making the deader pae=rt a sub template -->
<%- include("includes/head.ejs") %>

 <body>
    <h1>this page belongs to <%= data.name %></h1>
    <br>
    <button>followers</button><button>following</button>

    <p>followers: <%= data.followers %></p>
    <p>following: <%= data.following %></p>
    <hr>
    <%for(let post of data.posts){%>
       <span>
        <img src="<%= post.image %>" alt="img" width="300">
        <p>likes:<%= post.likes %> &nbsp; &nbsp;&nbsp; comments:<%= post.comments %></p>
        </span>
    <%}%>

 </body>
 <script src="/app.js"></script>
 </html>